<div class="body">
  <div class="body__img">
    <img
      src="assets/img/foto-fonte-do-amor.jpeg"
      alt="foto ezequiel e suelen na frente da fonte do amor"
    />
  </div>
  <div class="body__historia">
    <h1>Nossa História</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum est
      id iaculis porta. Nunc odio lacus, blandit eu diam sit amet, rhoncus
      tincidunt nunc. Nulla facilisi. Nullam congue in mi vel luctus. Etiam
      lectus diam, egestas ac condimentum ac, lobortis id tortor. Vivamus
      sagittis orci nulla. Sed ullamcorper iaculis orci, at mollis urna feugiat
      a. Maecenas volutpat dui elit, in elementum tortor viverra vitae. Mauris
      commodo, diam sed eleifend tincidunt, elit tellus ornare urna, id lobortis
      mi orci ut est. Phasellus quis commodo velit. Nulla bibendum lectus at
      tellus dictum tincidunt. Vestibulum nec augue varius turpis consequat
      mollis sed vel felis. Vivamus a sapien elementum, facilisis sem vel,
      dictum lectus. Phasellus bibendum finibus arcu. Nullam vel enim ut nisl
      imperdiet egestas. Pellentesque ut iaculis elit. Vivamus in pharetra leo,
      vitae lacinia nibh.
    </p>
  </div>
  <div class="body__localizacao">
    <h1>Localização</h1>
    <div id="map-mapbox"></div>
  </div>

  <div class="form-presenca">
    <h1>Confirme sua presença</h1>
    <form class="col-md-10">
      <div class="form-presenca__nome">
        <span>Nome Completo</span>
        <input
          type="text"
          class="form-control"
          required
          placeholder="Insira seu nome completo"
        />
      </div>

      <div class="form-presenca__check form-group">
        <label> Você virá ao evento? </label>
        <br />
        <label>Você receberá a confirmação de presença neste e-mail.</label>
        <br />
        <label for="sim">Sim</label>
        <input type="radio" name="confirmacao" id="sim" />
        <label for="nao">Não</label>
        <input type="radio" name="confirmacao" id="nao" />
      </div>

      <div>
        <span>E-mail</span>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          required
          placeholder="name@example.com"
        />
      </div>
      <!-- <div class="input-group input-group-sm mb-3">
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
        />
      </div>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>

      <div class="input-group input-group-lg">
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
        />
      </div> -->
      <!-- <button class="btn btn-primary">botão</button> -->
    </form>
  </div>
</div>
