.historia {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;

  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
}
