.navbar {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  min-height: 10%;
  background-color: #bb6f58;
  color: #fdfdfd;
  border-radius: 17px 17px 17px 17px;

  @media (max-width: 500px) {
    display: flex;
    font-size: 24px;
  }

  span {
    margin: auto;
  }
}
