<div class="section_presentes">
  <div>
    <h1 class="section_presentes__header">
      Sugestões de formas para nos presentear.
    </h1>
  </div>
  <div>
    <h3>Lojas:</h3>
    <p class="section_presentes__lojas">
      Magazine Luiza:
      <a href="https://www.magazineluiza.com.br/" target="_blank"
        >https://www.magazineluiza.com.br/</a
      >
    </p>

    <h3>Pix:</h3>
    <p class="section_presentes__pix">
      <span> (85) 991266762 / ezequielrb7@gmail.com </span>
    </p>
    <p class="section_presentes__pix">Ou através de nosso QR Code:</p>
    <span class="section_presentes__qrcode">
      <img src="assets/img/QR-Code-PIX.jpeg" alt="imagem de um qrcode" />
    </span>
  </div>
</div>
